.form__container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0px 40%;
}

.form__container > form > input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.form__container > form > .description {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.form__container > form > .submit__btn {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
