nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  transition: all 0.3s ease;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}
